*{
  font-family:monospace
}

body{
  padding: 50px;
}

input{
  color: gray;
  width: 100%;
  font-size: 1.2rem;
}

.card-grid{
  display: flex;
  flex-wrap: wrap;
  
}

.card{
  align-content: center;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  margin: 10px;
  max-width: 400px;
  text-align: center;
}

.card p{
  
  text-align: center;
}

.card img{
  max-width: 400px;
  max-height: 200px;
}

.title-gif {
  background: linear-gradient(90deg, #e30808, #33e10b, #0b7de1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0.5px 0.5px 0px rgb(0, 0, 0);
  width: 200px;
}
